<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:33:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.checkStatus()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">checkStatus</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasID()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateAllNodesHasID</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasName()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateAllNodesHasName</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasURL()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateAllNodesHasURL</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAvailableSortByInLastLevel()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateAvailableSortByInLastLevel</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateChildCountOnFirstNode()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateChildCountOnFirstNode</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateFeatureLinkEditAreIn3rdLevel()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateFeatureLinkEditAreIn3rdLevel</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateImage()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateImage</td> 
  <td>main@495702238</td>   <td></td> </tr>
<tr bgcolor="b894f2">  <td>18/07/20 10:34:12</td>   <td>16886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateIncludeInMenu()[pri:0, instance:ae.ounass.test.CategoryTest@20d525]">validateIncludeInMenu</td> 
  <td>main@495702238</td>   <td></td> </tr>
</table>
