<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ae.ounass.test.CategoryTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateAllNodesHasURL</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAvailableSortByInLastLevel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateImage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAllNodesHasName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateChildCountOnFirstNode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateIncludeInMenu</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateFeatureLinkEditAreIn3rdLevel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateAllNodesHasID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
