<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:08:56</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.checkStatus()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">checkStatus</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasID()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateAllNodesHasID</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasName()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateAllNodesHasName</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAllNodesHasURL()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateAllNodesHasURL</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateAvailableSortByInLastLevel()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateAvailableSortByInLastLevel</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateChildCountOnFirstNode()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateChildCountOnFirstNode</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateFeatureLinkEditAreIn3rdLevel()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateFeatureLinkEditAreIn3rdLevel</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateImage()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateImage</td> 
  <td>main@1181199958</td>   <td></td> </tr>
<tr bgcolor="b5b4cc">  <td>18/07/22 00:09:14</td>   <td>17922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CategoryTest.validateIncludeInMenu()[pri:0, instance:ae.ounass.test.CategoryTest@56f4468b]">validateIncludeInMenu</td> 
  <td>main@1181199958</td>   <td></td> </tr>
</table>
